{% extends "base.html" %}
{% block page_content %}
 
 <!--section-->
 <section>
 <div class="container">
    <h1>Produtos</h1>
    
    <div class="row">
        {% for produto in produtos %}
        <div class="col-md-4">
          <div class="card mb-2">
          <img class="card-img-top"
          src="{{produto.image}}" width="100" height="200" >
          <div class="card-body">
          <h5 class="card-title" > {{produto.nome }}</h5>
          <p class="card-text">{{produto.descricao }}</p>
          </div>
          <a href="{% url 'detail' produto.pk %}" class="btn btn-primary" >Detalhe</a>
        </div>
    </div>
    {% endfor %}
    </div>
 </div>
 </section>
{% endblock %}
